<footer>

    <div class="row">

        <!--<div class="col-sm-5">-->
            <!--&copy; 上海法法信息技术有限公司-->
        <!--</div>&lt;!&ndash;/.col&ndash;&gt;-->

        <div class="col-sm-12 text-center">
            &copy; 上海法法信息技术有限公司
        </div><!--/.col-->

    </div><!--/.row-->

</footer>